.submit{
    background-color: #457b9d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.submit:hover {
    background-color: #1d3557;
}

.newCode{
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color : #457b9d;
    text-align: center;
    width: 100%;
}

.newCode:hover{
    color: #1d3557;
}