.cuadro {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 88px;
    margin-left: 30px;
}

.navbar-component1 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    background-color: rgba(255, 217, 0, 0.42);
    display: flex;
    justify-content: start;
    align-items: center;
    height: 70px;
    padding: 30px 30px;
    z-index: 50;
    margin-left: -10px;
    border-radius: 20px 20px 0px 0px;
  }

  .titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navbar__logo  {
    color: #494949;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 8px;
  } 

  .sesion{
    font-weight: 800;
  }
  

.logo-apr{
    width: auto;
    height: auto;
}

.Apr{
    font-weight: 800;

}

.blocktokens{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.info{
    width: auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.days-to-claim{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first_row{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.input-pool{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homescreen2 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px;
    margin-left: 20px;

  }

  .home-screen2{
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 78vh;
    width: 80vw;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 15px;
    margin-left: -10px;
    border-radius: 0px 0px 20px 20px;
    border: 1px solid black;    
    overflow-y: hidden;
  }
  

.staking {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 600;
    color: rgb(0, 0, 0);
    height: 100vh;
    overflow-x: hidden;
    padding-top: 80px;
   
}


.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.exchange-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    min-height: 70px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    position: relative;
}

.admin-site {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 1px white solid;
    width: 80px;
    height: 50px;
    color: black;
    background-color: white;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
}

.exchange-options {
    display: flex;
    justify-content: baseline;
    align-items: start;
    justify-content: start;
    width: 90%;
}

.pools {
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stake{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.staket-tokens {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

}

.poolMap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.691);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    margin: 10px 10px;

}

.poolMap2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.691);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
    margin: 10px 10px;

}

.poolMap img {
    width: 80px;
    height: 80px;
}

.poolMap2 img {
    width: 80px;
    height: 80px;
}

.poolMap button {
    width: 130px;
    margin: 1px 5px;
    border: none;
    border-radius: 10px;

}

.poolMap2 button {
    width: 130px;
    margin: 1px 5px;
    border: none;
    border-radius: 10px;
}

.button-color-stake-disabled{
    background-color: rgba(255, 255, 255, 0.691)!important;
    color: black!important;
    cursor: not-allowed!important;
}

.button-color-stake {
    background-color: #ffe161;
    color: #614f00;
    cursor: pointer;
}

.button-claim {
    background-color: rgb(0, 47, 100);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.button-unstake {
    background-color: rgb(100, 0, 15);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.exchange-options {
    font-size: 20px;
    font-weight: 700;
}

.exchange-options span {

    margin: 0 10px;
}

.exchange-options svg {
    font-size: 20px;
    margin: 0 5px;
    padding-bottom: 2px;
}

.iterruptor {
    border: 1px solid rgba(0, 0, 0, 0.38);
    height: 24px;
    width: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(169, 169, 169);
}

.circle {
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.356);
    height: 20px;
    width: 20px;
    background-color: white;
}



.alertModal{
    position: absolute;
    z-index: 100;
    background-color: red;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: clamp(12px, 2vw, 20px);
    top: 200px;
}

.loader{
    position: absolute; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.loader-msg{
    width: 50%;
    height: 40%;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.input-stake{
    border-radius: 10px;
    border: none;
    width: 150px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.356);
}

.data-filter-input{
    font-size: 16px;
    color: #fff;
    background-color: rgb(31, 31, 31);
    padding: 5px 100px;
}

.data-filter-input input {
    border-radius: 10px;
    
}

.inputs{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.reward-unstake{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 10px;
}

.locked-timer{
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 217, 0, 0.6);
    color: black;
    font-weight: 600;
}

@media screen and (max-width: 992px){
    .banner2{
        width: 100vw;
    }
}

@media only screen and (max-width: 714px) {
    .poolMap {
        flex-direction: column;
        text-align: center;
        padding: 10px;
        min-width: 300px;
    }

    .poolMap div {
        margin: 3px 0;
    }
}

@media only screen and (max-width: 449px) {
    .staking{
        padding-top: 140px;
    }
}