.sidedrawer__button{
    background-color: #272727!important;
    border-top: rgb(255, 255, 255) 1px solid!important;
    border-bottom: rgb(255, 255, 255) 1px solid!important;
    border-left: #272727 1px solid!important;
    border-right: #272727 1px solid!important;

    font-size: 1.6rem!important;
}
.sidedrawer__button:hover{
    background-color: rgb(26, 26, 26)!important;
    border: black!important;
}
.sidedrawer__button:focus{
    background-color: rgb(40, 40, 40)!important;
    border: black!important;
}

.sidedrawer__links > li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
  }
  
  .sidedrawer__links > li > a:hover {
    background: #333;
    color: #f4f4f4;
  }
  
  .sidedrawer__links > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    text-decoration: none!important;
    color: #ffffff;
    font-size: 1.6rem;
  }

  .sidedrawer__links > li > p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    padding: 1rem;
    text-decoration: none!important;
    color: #ffffff;
    font-size: 1.6rem;
    cursor: pointer;
  }